[2017-03-13 13:48] zanoni-mbdyn opened #2 "Object animation fails when using text output."
When using textual output (.mov file), Blender objects with MBDyn nodes assigned are not moved at each timestep as one would expect, but "jump" to the simulation final position at frame 1.

The issue is probably located in the method  `set_motion_paths_mov(context)` found at line `279` of file `base.py`, which in turn calls the method `set_obj_locrot_mov(obj, rw)` defined at line `48` of file `nod

[2017-03-14 09:29] #2 closed

[2017-03-14 10:31] louisgag opened #4 "extraneous data in pack file"
*This issue can count towards the entry exam for the Blendyn related projects for MBDyn-GSoC2017*

Although the Blendyn addon is fairly compact, in its current form, the repository is roughly 100mb.
This is due to the presence of the .pack file which keeps track of all historical changes in the repository.

Identify the files which could be removed from history and suggest a fix.

Hint: http://sta

[2017-03-14 10:46] zanoni-mbdyn commented on #4
I would second that Louis. Keep in mind however that the problems affects only Blendyn developers, as the .pack file is downloaded only if one clones the repo.

Blendyn users, on the other hand, should download the repo in .zip file format, and that file sits currently at 1.8 MB.

[2017-03-14 15:54] janga1997 commented on #4
The solution proposed by one of the posters on the SO thread seems straightforward. Is there something more to this?
We do want to remove all the pack files and any references to them?

[2017-03-14 16:28] louisgag commented on #4
would it be possible to remove only the files that take too much space
from the history ? (I suspect that a few files take all the space but
maybe I'm wrong)

On 14-Mar-2017 04:54 PM, VSN Reddy Janga wrote:

--
Louis Gagnon, Ph.D.
Postdoctoral fellow
Dipartimento di Scienze e Tecnologie Aerospaziali
Politecnico di Milano
+39 02 2399 8642
http://louisgagnon.com/research/

[2017-03-14 16:36] louisgag opened #6 "cancel old frames when importing new results from a simulation"
*This issue can count towards the entry exam for the Blendyn related projects for MBDyn-GSoC2017*

This is more a feature request than an issue.

When importing the data into an already animated scene but using a newly created .nc or .mov file which ends before the previous import, the frames that come *after* the last timestep (may depend also on import frequency) of the new results will remain a

[2017-03-14 16:37] zanoni-mbdyn commented on #4
It certainly is so: the big size of the repo is due to some indavert
commits I've made some time ago on some MBDyn output files in the examples.

We could start by identifying the biggest files that would be remove and
decide case by case.

Cheers
Andrea

Il 14 mar 2017 17:28, "Louis Gagnon" <notifications@github.com> ha scritto:

[2017-03-14 16:38] zanoni-mbdyn commented on #6
I totally agree, and this should be straightforward.

Cheers
Andrea

Il 14 mar 2017 17:36, "Louis Gagnon" <notifications@github.com> ha scritto:

[2017-03-14 16:40] janga1997 commented on #4
Seems like there is a way.
`git verify-pack -v .git/objects/pack/pack-{hash}.idx | sort -k 3 -n | tail -n 20`
shows the largest 20 items in a pack. Maybe this could work?

I'm recloning the repo after mistakenly purging all the pack files.

[2017-03-14 16:46] janga1997 commented on #4
The output generated by it is of the format
`

SHA-1 type size size-in-packfile offset-in-packfile depth base-SHA-1

`
So basically the third column and fourth column?

[2017-03-14 17:06] janga1997 commented on #4
@zanoni-mbdyn Does that solve the problem?

[2017-03-14 17:09] louisgag commented on #4
well, how do we on from there? I only see hashes, no description...

[code]

[2017-03-14 17:11] zanoni-mbdyn commented on #4
That what I was about to write. It is pretty difficult to decipher, if you're not a computer!

[2017-03-14 17:13] janga1997 commented on #4
Incidentally, There's a tool named bfg Repo Cleaner, by which we can remove blobs greater than a specified file size.
https://rtyley.github.io/bfg-repo-cleaner/

[2017-03-14 17:14] janga1997 commented on #4
`bfg --strip-blobs-bigger-than 50M  my-repo.git` , and I suppose we should be done
The git method is too cumbersome to bother ourselves with.

[2017-03-14 17:30] janga1997 commented on #4
@louisgag @zanoni-mbdyn If BFG worked, do push changes to the master. I am still cloning the repository!

[2017-03-14 17:47] zanoni-mbdyn commented on #4
The point is, we don't want to remove a blob without knowing what is inside
that blob.

We might be clearing the history of some important file in the repo and we
don't want to do that.

Isn't there a way of knowing what is inside that blob?

Cheers
Andrea

Il 14 mar 2017 18:30, "VSN Reddy Janga" <notifications@github.com> ha
scritto:

[2017-03-14 18:03] janga1997 commented on #4
Well, we could do `git rev-list --objects --all | grep <blob sha1>`, on the biggest blob sha's ?
That would give us the filenames.
for eg., for the biggest blob,
`git rev-list --objects --all | grep 06717e9e06fa0620296ca0b12a6d75c07680c342`
Output
`06717e9e06fa0620296ca0b12a6d75c07680c342 tests/bladeflap/test/bladeflap.nc`

And then decide which of the ones to remove.

[2017-03-14 18:27] janga1997 commented on #4
The biggest eight files mostly seem to be related to bladeflap, namely
(descending order)
`
tests/bladeflap/test/bladeflap.nc

tests/bladeflap/test/bladeflap.jnt

tests/bladeflap/test/bladeflap.mov

tests/bladeflap/test/bladeflap.ine

tests/bladeflap/test/bladeflap.act

tests/bladeflap/test/bladeflap.frc

doc/tutorials/slidercrank/sc-animation.gif

tests/bladeflap/test/bladeflap.out
`
I don't imag

[2017-03-14 18:32] zanoni-mbdyn commented on #4
Nope, they can be safely removed.
I'll do so later, thanks.

Cheers
Andrea

Il 14 mar 2017 19:27, "VSN Reddy Janga" <notifications@github.com> ha
scritto:

[2017-03-14 20:15] janga1997 commented on #6
@louisgag

Do you mean frames/nodes present in the scene?

[2017-03-15 07:48] louisgag commented on #6
@janga1997
I mean that the elements that get imported from the  *new* results file (.mov or .nc), whatever they may be (joint, node, etc) get their animation data (keyframes, etc) removed before the import

[2017-03-15 08:18] janga1997 commented on #6
@louisgag I don't get it still.
You want the all the motion data, (x, y, z, alpha, beta, and gamma) of the new .mov/.nc file , to be cleared before import, and just the nodes/joints/elements to be imported?
But I don't understand what is the point of importing a new results file, if not updating the motion data (keyframes) ?

[2017-03-15 08:25] louisgag commented on #6
Try this and you'll probably understand my issue:

1. run mbdyn with final time of 10 seconds.
2. import the results into Blendyn
3. change the mbdyn input file to change the behavior (example: multiply
gravity by 2)
4. change the final time to 5 seconds
5. re-run mbdyn
6. import the new results in Blendyn

you'll see that the previous results still show up in the animation for
period 5-10 and mak

[2017-03-15 09:01] zanoni-mbdyn commented on #4
OK this should be fixed now. The new size of the repo is 8.04MB.
If you want to get down to that size, clear your local repo and re-clone.

Cheers
Andrea

[2017-03-15 09:01] #4 closed

[2017-03-15 09:05] janga1997 commented on #6
@louisgag I understand the problem of different time intervals.
What i am still not clear about, is do we want to clear the new data of 5 secs, or what i think you mean, is to clear the old data of 10 secs?

[2017-03-15 09:06] louisgag commented on #6
We want that no old data shows after importing new data for an element

On 15-Mar-2017 10:05 AM, VSN Reddy Janga wrote:

[2017-03-15 09:14] janga1997 commented on #4
@zanoni-mbdyn Glad it worked!

[2017-03-15 14:01] louisgag opened #8 "Blendyn with Blender's own Python and the required packages"
*This issue can count towards the entry exam for the Blendyn related projects for MBDyn-GSoC2017*
**This issue may be quite challenging and not much support can be given by the mentors**

In its current form, the Blendyn plugin needs a series of Python packages such as numpy, netCDF4, pygal, cairosvg, tinycss, lxml, cssselect, etc. to run with full potential. These packages are not part of the off

[2017-03-16 13:17] #6 closed

[2017-03-16 13:26] zanoni-mbdyn opened #9 "Remove Blender objects belonging to removed MBDyn nodes"
From a [this issue](https://github.com/zanoni-mbdyn/blendyn/pull/7), now closed:

Check, when re-loading the .log file, if a node or an element associated to some Blender object present in the scene has been removed from the MBDyn input file, and remove both the reference to the entity in the bpy.context.scene.mbdyn.{nodes,elems} dictionaries and the corresponding Blender object in the scene.

[2017-03-16 13:39] louisgag commented on #6
It works, but it does break compatibility with old models. I guess I'll have to live with that ;-)

[2017-03-16 13:42] zanoni-mbdyn commented on #6
How it does so, Louis? I haven't tried to run it with an old model, to be honest.

[2017-03-16 14:06] louisgag commented on #6
@zanoni-mbdyn  Actually, I've looked into the error message properly to reproduce the bug and realized the issue is different. With this new version I cannot change the location of the result file as it will still look at the old directory for the log file. For my personal purposes I can fix this creating a link, but the old Blendyn version did not have this behavior (not sure how far back though)

[2017-03-16 15:34] janga1997 commented on #9
@zanoni-mbdyn One thing I am not sure about this issue, and blendyn in general, is how are nodes are added to `context.scene.mbdyn.nodes` ?
In `set_motion_paths_mov()` and `set_motion_paths_netcdf()` in `baselib.py`, I see
[code]
And then I see
[code]

Without ever something being assigned to `nodes`.?
What is happening here?

[2017-03-17 06:25] louisgag commented on #9
As for removing the Blender object, are we sure we want to do that? Perhaps a confirmation dialog would be adequate as I can see potentially unwanted consequences of removing a Blender object that a user might not necessarily want to delete... Perhaps a simpler solution than the dialog box would be to hide the object?

[2017-03-17 07:06] janga1997 commented on #9
But if the user specifically took the pain to remove specific nodes from the mbd file, shouldn't we register those changes?

[2017-03-17 08:07] louisgag commented on #9
Yes, I think it is a great idea to resister the changes, but think of this example, maybe extreme but still to consider:
- I have a car model with 4 tires, modeled in MBDyn
- I want to test the response without the tires, or even worst, I mistakenly load another car model without the tires
- That was my only Blender file and now I lost my Blender object for the tires and I might have spent a few h

[2017-03-17 08:20] janga1997 commented on #9
Well, then your suggestion of hiding the objects would be good enough i assume?

[2017-03-17 08:23] janga1997 commented on #9
Wait , but hiding the objects doesn't really remove them from the scene, and they can still interfare with the motion of the rest of the objects, right?

[2017-03-17 08:23] louisgag commented on #9
Most likely, yes :)
@zanoni-mbdyn any comments/preferences ?

[2017-03-17 08:23] louisgag commented on #9
what do you mean by "interfere"?

[2017-03-17 08:26] janga1997 commented on #9
I am not completely sure about how blender works, but i assume objects "collide" with each other?

[2017-03-17 08:26] louisgag commented on #9
No, that shouldn't be an issue, objects (and frames) do not interact together (at least as long as you stay away from the game or physics engine)

[2017-03-17 09:34] zanoni-mbdyn commented on #9
Hiding them could be a good choice, I guess... But it is better to do so only if the user has given his consent. The dialog box warning the user that a number of nodes/elements have been removed from the model is a good idea.

The user might be presented with the list of the nodes that are not found anymore, and asked if he wants to remove the related Blender objects or not.

[2017-03-17 09:36] zanoni-mbdyn commented on #6
Yes, go ahead... I don't remember to have changed related to that portion of the code recently, though. I don't know why this is happening.

[2017-03-17 09:50] louisgag commented on #9
Yes, the

idea seem to me the best solution.

[2017-03-17 10:40] zanoni-mbdyn opened #11 "Account for nodes whose outputs are not requested in the MBDyn model"
The output of specific nodes can be disabled in MBDyn, for example using the
[code]
directive at the end of their definition in the input file.

Blendyn gathers the information about the nodes present in the model from the .log file, in which no information about their output is given. So it is possible that a node without any output is imported in the Blender scene, causing trouble when the anima

[2017-03-17 15:05] louisgag commented on #6
I've tried reproducing the bug using a model created with the current version of Blendyn and the issue doesn't occur. It's probably something related to an old Blendyn (or more likely an old mbdyn-blender) release. I thus won't open an issue.

[2017-03-17 22:00] janga1997 commented on #8
@louisgag @zanoni-mbdyn
I think this issue can be solved in a simple way.
First, having conda , which helps to manage several python versions simultaneously is crucial.
Now , my default conda python version is 3.5.2, which happens to be the packaged python version of the blender zip file I downloaded (Blender 2.78c), and the system default version I installed which is Blender 2.69. (Uses Python 3.

[2017-03-18 07:43] janga1997 commented on #8
I think the key thing here is to that python versions should match exactly.
And for that, we need something like conda.

[2017-03-20 09:20] zanoni-mbdyn commented on #8
Thank @janga1997, this can be good solution. Do you think it can be automated?

We could add an operator in the `TOOLS` region that reads something like `Install optional Python Packages` and is able to recognize (if that is possible...) that the version of Blender the user is running is a bundled one or coming from a distribution package.

At the very least, I think this procedure should go into

[2017-03-20 09:25] janga1997 commented on #8
I don't know how we could automate this for users.
The user is probably going to just download the zip file and import it through blender.

[2017-03-20 09:27] zanoni-mbdyn commented on #8
I was referring to the process of installing the optional packages and creating the symlinks that you mentioned in your proposed solution.

[2017-03-20 09:34] janga1997 commented on #8
Well, stuff we could automate is the creation of directories, and adding symlinks.
But for installing packages with the correct version of python, otherwise we have to install a new python environment first, user confirmation would be required at every step anyway.

[2017-03-20 09:36] janga1997 commented on #8
And we would have to do this with a separate script, bash/python, which the user would have to run manually.
But the assumption is that that the user would just download the zip file, right?

[2017-03-20 10:26] zanoni-mbdyn commented on #8
Please explain a little bit more what you mean with this comment. As for user confirmation, we might ask him to start Blender from a terminal (if he hasn't done so already: we should check if it possible to recognise that) and there is where all the confirmations will be asked for.

Why is that? Can't we just make a `subprocess.call` to conda or pip?

Not necessarily. We might move towards somethi

[2017-03-20 10:42] janga1997 commented on #8
If the blender version of the user requires a python version of 3.5.2, and the user doesn't have that exactly as either the system python, or one of environments in conda, we would have to install a new python environment first, and then install the required packages.

[2017-03-20 10:44] janga1997 commented on #8
This issue now looks like a set of features to be added to blendyn, rather than just an installation method.
I'm thinking i should add this to my proposal to the list of features, and keep it that way if i am not able to completely solve it by the application period.

[2017-03-20 10:54] zanoni-mbdyn commented on #8
Got it. We could start by warning the user, and maybe move towards doing a complete installation upon his/her request afterwards.

Well, kinda :)

That is perfectly okay.

Cheers
Andrea

[2017-03-21 09:11] louisgag commented on #8
@janga1997
https://github.com/zanoni-mbdyn/blendyn/issues/8#issuecomment-287482057
So the first step for a user who has not yet any Anaconda would be to install Conda on the system's Python?
`pip install conda`

[2017-03-21 09:16] janga1997 commented on #8
@louisgag
Yes. Well, any other software which lets you create virtual environments would be fine, but conda is the easiest.
But I prefer to install using the installer bash file for linux. It's around 400 MB, but you never have to worry about packaging and environments again.

[2017-03-21 09:26] louisgag commented on #8
Install it on any of the system's Python?
For example, I have 2.7.6 and 3.4.3 while my Blenders have 3.4.3 (system default) and 3.5.2

[2017-03-21 09:37] louisgag commented on #8
Where do I find it ?

[2017-03-21 09:47] janga1997 commented on #8
https://www.continuum.io/downloads
Install either the Python 2.7 or Python 3.6 version. It doesn't really matter.
It is platform agnostic, so that's helpful too.

[2017-03-21 09:53] janga1997 commented on #8
And to create virtual environments
`conda create -n {name of env} python=3.5.2 anaconda` (name it something easy to remember like **py35**)
`conda create -n py34 python=3.4.3 anaconda`

and to step into the virtual environment

`source activate {env_name}`

`source activate py35` or `source activate py34`

And to step out of the virtual environment,

`source deactivate`

Any packages you install w

[2017-03-21 09:59] janga1997 commented on #8
Since both you guys are into research, anaconda also installs by default a lot of tools like Jupyter notebooks, Jupyter qtconsole, packages like numpy, pandas, matplotlib, scipy, astropy, etc by default.

[2017-03-21 10:00] louisgag commented on #9
In the current version of the addon I am no longer able to change result file.
Upon clicking "Select results file" on a Blender file which has already loaded a previous results file, I systematically get this, even when reselecting the same results file:

[code]

[2017-03-21 10:16] janga1997 commented on #9
@louisgag You mean **only the changes** in #7 ?
Can you trace your steps for me?
The error seems to be that the nodes currently in the scene do not have a corresponding object. I can't see how that could happen.

[2017-03-21 10:20] janga1997 commented on #9
@louisgag I got your error now.
I made the assumption that when a user selects a results file for the first time, he would definitely add objects to the scene and animate , before selecting a new results file.
You seem to have selected a new results without doing anything else, so there are no objects to clear data from. That's why it shows up an error of `none` because no Blender objects exist ye

[2017-03-21 10:34] louisgag commented on #9
@janga1997
Ok thanks, and I'll try it using totally clean files because I've been using an old file relinked to MBDyn nodes after having done "CLEAR MBDYN DATA"...

[2017-03-21 10:37] janga1997 commented on #9
@louisgag
I just purged `obj_names` of any `"none"` strings before going any further.

[2017-03-21 14:20] louisgag commented on #8
@janga1997

I followed your suggested procedure but the packages still don't get recognized by Blender 2.78c
I installed anaconda and two versions of python inside it.
I also noticed that it is important to be careful whether to run pip or pip3 depending on which anaconda/venv is running as the other may run on the system Python.
I tried both linking the packages directly into the Blender's python

[2017-03-21 14:39] janga1997 commented on #8
@louisgag You can just install packages with `conda` instead of pip. And if you follow the rest of the steps I laid out, it does work. I realize that there may be issue with using pip, I have to look into it.

Just use conda. All the packages we require can be installed with `conda`.

[2017-03-21 14:42] janga1997 commented on #8
`conda install -c activisiongamescience pygal=2.1.1`
` conda install -c anaconda netcdf4=1.2.4 `

[2017-03-21 14:48] louisgag commented on #8
Thanks Janga, but for now I'll stick to 2.69 which works just fine.

[2017-03-21 14:50] louisgag commented on #9
@janga1997
I've tried with a clean file, and it does the same. I can confirm that, as you pointed out, the issue is only present when some nodes have not been assigned to objects. Perhaps your pull request already addresses that..

[2017-03-21 14:53] janga1997 commented on #9
@louisgag I added a [commit](https://github.com/zanoni-mbdyn/blendyn/pull/10/commits/484fe9e60c3c726351c377a29c03367c82331a6e) to the PR of this issue. That solves the error.

[2017-03-21 17:26] zanoni-mbdyn commented on #9
@janga1997  Have you tested it? Unfortunately I have no time right now to test this myself...

[2017-03-21 17:43] janga1997 commented on #9
@zanoni-mbdyn I have tested it. And it works. Could you reply to a query on the PR itself?

[2017-03-27 12:41] #9 closed

[2017-04-27 16:10] janga1997 commented on #11
@zanoni-mbdyn I think the last point will need a little more study of MBDyn on my part. Let's just keep this open till some days in the Community bonding period, when I should be able to take a crack at this again.
Meanwhile, I will work on the other open issue.

[2017-05-05 14:36] zanoni-mbdyn opened #13 "Collect all report messages into a session log file in the Text Editor"
Blender standard way of displaying a message to the user is to print it in the topbar, something that is accomplished with the `report` method of operators. However, the `report` messages are easy to miss: therefore it would be better to store them in a log file in the Text Editor, that gets updated during the current session.

[2017-05-05 14:36] zanoni-mbdyn commented on #13
Blender standard way of displaying a message to the user is to print it in the topbar, something that is accomplished with the `report` method of operators. However, the `report` messages are easy to miss: therefore it would be better to store them in a log file in the Text Editor, that gets updated during the current session.

[2017-05-09 09:10] janga1997 commented on #8
While struggling with netCDF4 yesterday, I think I figured out an even simpler solution to our packaging woes.
Regardless of whether if it is a system installation or extracted zip file, Blender will have a directory site-packages. Since I use a extracted zip file,
`~/Downloads/blender-2.78/2.78/python/lib/python3.5/site-packages`
This is where Blender pulls its python packages from. I just delete

[2017-05-09 09:15] janga1997 commented on #8
I still feel like describing a set of general instructions is better than a dedicated script for it, because there are too many factors to consider,
- Operating System (Windows, Ubuntu , Mac)
- Bash shell (for running our install script)
- The method of symlink, which I am sure has a different way of doing it in Windows.

But if we just provide instructions OS-wise and Blender file-wise, the user

[2017-05-09 09:21] louisgag commented on #8
On 09-May-2017 11:15 AM, VSN Reddy Janga wrote:

This has to be tested. I remember having had difficulties with the
anaconda method (Blender would complain about missing packages even if
they were installed in anaconda) and in the end having switched back to
the system's default Blender.

[2017-05-09 09:25] janga1997 commented on #8
@louisgag Are you on Windows or Ubuntu?

If I am not wrong

they were installed in anaconda

You are referring to trying to install netCDF4?

[2017-05-09 09:31] louisgag commented on #8
Ubuntu

[2017-05-09 09:35] janga1997 commented on #8
@louisgag Well, sometimes some packages (like netCDF), have other packages as dependencies, which require to be in the same directory, and adding a symlink for all of them is lengthy.
That's why I think a symlink for the whole `site-packages` directory in conda should resolve any issues.

[2017-05-09 09:37] louisgag commented on #8
On 09-May-2017 11:35 AM, VSN Reddy Janga wrote:

Ok, I'll give it a try and let you know.

[2017-05-09 10:42] zanoni-mbdyn commented on #8
@janga1997

I think that we must be **very** careful with this solution. When you download Blender, you are downloading a pre-packed version that uses its **own** Python distribution. That's why is has its own `site-packages` folder.

When you install Blender from the official repositories, the version of Blender in the package is **built** to use the system's Python.

Removing the `site-packages`

[2017-05-09 10:51] janga1997 commented on #8
@zanoni-mbdyn I should have been more clear.
The conflict of Python versions between Blender and System OS is where conda comes in.

The Blender version I use has Python 3.5.2, but my system OS has Python 2.7.6
So I use conda to create a virtual env of Python 3.5.2, install the necessary packages, and then create the symlink.
The need to create an appropriate virtual env for the python version of

[2017-05-10 10:01] zanoni-mbdyn commented on #8
OK, sorry I got a bit lost on this issue. So we're left with the user needing to install a virtual environment for the correct Python version, with conda, and then we could automatically install the additional packages and create the simlinks for him?

Are we sure that this is a better solution that just ask the user to install the Python packages himself, and maybe add a section in the [wiki](htt

[2017-05-10 10:35] janga1997 commented on #8
That's what I think too. I think the user could install the packages himself with some instructions in our wiki, but a virtual environment is still needed in most cases, as it would be rare that the user has the same Python version as that of Blender.
Our wiki could be something like this:

**OS Python same as Blender Python**
Steps for Linux and Windows

**OS Python different from Blender Python*

[2017-05-10 11:40] zanoni-mbdyn commented on #8
@janga1997  The first part, aside from the Windows part, is already in the wiki, see the link that I have posted in the previous comment. The second one is the one that we need to add.

Would you like to write down the steps? I could then test them in different OS (I can test in Fedora 24 and 25, Ubuntu 14.04 and 16.04). Also, have you got the opportunity to try the installation of Blendyn in Wind

[2017-05-10 11:43] louisgag commented on #8
Andrea, I can take care of testing on Ubuntu 14.04 and 16.04 once the
wiki page is updated.
-Louis

On 10-May-2017 01:40 PM, Andrea Zanoni wrote:

--
Louis Gagnon, Ph.D.
Postdoctoral fellow
Dipartimento di Scienze e Tecnologie Aerospaziali
Politecnico di Milano
+39 02 2399 8642
http://louisgagnon.com/research/

[2017-05-10 11:48] janga1997 commented on #8
@louisgag @zanoni-mbdyn Sure. I will update the wiki by today, (both Windows and Linux).
I am guessing that the process of creating a symlink will be different in Windows, but I will figure it out.

[2017-05-10 11:48] zanoni-mbdyn commented on #8
OK, thank you Louis.

@janga1997 please write down the steps here, I'll update the wiki myself aftwerwards.

[2017-05-10 13:04] janga1997 commented on #8
**Linux**
1. Install conda https://conda.io/miniconda.html . Run the bash file corresponding to your OS.
2. Open up Blender, switch to **`Scripting Mode`** , and note down the Python version displayed in the Python shell.
3. If your System Python version is different from the Blender's Python, which it most likely is, follow the below steps. Otherwise skip to step 4.
      --- `conda create -n py3

[2017-05-11 05:37] louisgag commented on #8
@janga1997 just a quick comment before I try those new instructions:

and

--- The site-packages is located at /usr/lib/blender/? @louisgag ( I am not sure about the complete path )

if the system's Python the same version as Blender's, wouldn't making a symlink to the system's python site-package and installing the necessary packages through pip (as showed on the wiki) be a simpler/faster approac

[2017-05-11 05:41] janga1997 commented on #8
@louisgag No issues. Although it is named as `dist-packages` rather than `site-packages`, there shouldn't be any issues.
I suggested conda for the mere fact that most people are not likely to have the same Python version as Blender.

Edit: Actually `dist-packages` seems to be a Debian (and Ubuntu) specific convention. Rest of the Linux distributions seem to have `site-packages`.

[2017-05-11 07:32] louisgag commented on #8
I still have the same issue as the one I had before. Ubuntu 14.04.
`blendyn: could not find netCDF4 module. NetCDF import will be disabled.`

Which means I can't test plotting neither, since it requires a NetCDF import.

I first tried with my current anaconda version, then thought it may be linked to my conda installation (used python2) so I follow your instructions step by step, see my **comments

[2017-05-11 07:42] louisgag commented on #8
PS: you can see my whole installation procedure here, perhaps you'll see a missing package...
[bash_output.txt](https://github.com/zanoni-mbdyn/blendyn/files/992187/bash_output.txt)

[2017-05-11 08:22] janga1997 commented on #8
@louisgag I have been using netCDF using this method.

In scripting mode, try `import netCDF4`, `import tinycss`, or any of the packages you manually installed.
If the symlinks and everything are in order, they should be imported.
**If it shows an import error, maybe the symlink was wrong, because I see you have installed the packages in the **py35** environment.**

Can you check if the symlink `s

[2017-05-11 08:50] louisgag commented on #8
@janga1997 ok, found out the issue is with the hdf package, a forced upgrade is needed (at least on my Ubuntu 14.04). See the comment by jjhelmus  for info: https://github.com/ContinuumIO/anaconda-issues/issues/1360#issuecomment-274627285

The fix is this: `conda install hdf4=4.2.12`

Now I can import netcdf results, but plotting is not working... I'm assuming cairo/jpg may have been broken by the

[2017-05-11 08:56] louisgag commented on #8
But it seems only hdf depends on jpeg, so that may not be the issue...

[2017-05-11 09:03] janga1997 commented on #8
@louisgag If cairosvg and pygal are installed, then plotting should work.
Because in base.py, we try to import `pygal` and `.plotlib`.
In plotlib.py, we try to import `cairosvg` and `pygal`. If these two packages import correctly in your Scripting mode console, then you should be fine.
So `cairo` may be the only issue.

[2017-05-11 09:05] louisgag commented on #8
Just checked, they do import correctly

[2017-05-11 09:23] janga1997 commented on #8
@louisgag So any other issues? Does it work properly?

[2017-05-11 09:37] louisgag commented on #8
@janga1997  Only plotting has issues ;-)

[2017-05-11 10:07] janga1997 commented on #8
**Windows**
Everything is identical in Windows, except the symlinks and switching to an environment.
After installing the Windows executable from https://conda.io/miniconda.html,
go ahead and create a new environment with the exact same command.

`conda create -n py35 python=3.5.2`
Go ahead and install the necessary packages.

Switching to environments is different in Windows a bit
It is `activate

[2017-05-12 06:55] louisgag opened #16 "Give full path of currently imported file"
Currently, the Blendyn interface reports the name of the MBDyn results file which has been imported, but does not give the path. In some cases this can lead to confusion. For example, I run parametric iterations of the same model which always gets created with the same filename but in a different folder. It can be confusing for me to remember which one I have loaded.

I think a simple solution to

[2017-05-12 07:07] louisgag opened #17 "Automatic text info widgets/indicators/overlays"
This feature request may require a lot of work.

When creating a scientific simulation, the interest of the user is quite often in the actual numbers.

In its current state, Blendyn does not provide a simple method to print data from the simulation in text form above the rendered animation. It would be great feature if this were made possible. Perhaps the best approach would be to let the user cre

[2017-05-12 13:55] zanoni-mbdyn commented on #16
I've added the full path of the currently imported output file below the file info (number of nodes, number of time steps, ecc...).

You can try by checking out the `testing` branch.

[2017-05-12 14:05] zanoni-mbdyn commented on #17
This is *definetely* not a trivial one :)

[2017-05-16 06:48] #16 closed

[2017-05-17 10:19] zanoni-mbdyn commented on #8
I've just tried the procedure on OsX, and I got stuck because Pygal is not available through conda for this platform. I'm getting less and less convinced about the whole process.

In OsX, as reported in the wiki [here](https://github.com/zanoni-mbdyn/blendyn/wiki/Installation#macosx) I've managed to get all to work with MacPorts and pip. It is a solution that works and has the same amount of compl

[2017-05-17 11:35] louisgag commented on #8
I replied by email but it seems to not have registered it.. Here it is:

On 17-May-2017 12:19 PM, Andrea Zanoni wrote:

Have you tried to install from the "other" repositories?
From inside the vistual env:
anaconda search -t conda packageName
then
conda install -c SourceName packageName

that does not work neither for me

Yes, at first I wanted to use the latest Blender, but it's just too much has

[2017-05-17 11:53] janga1997 commented on #8
Does it happen that the system Python of a user may be 2.* , and Blender installed from official repos may have Python of 3.* ?
I think it does, I am not sure.

[2017-05-17 12:46] zanoni-mbdyn commented on #8
From inside the vistual env:
anaconda search -t conda packageName
then
conda install -c SourceName packageName

@louisgag  Yes, I tried that, but no anaconda package is providing Pygal for OsX.

Where do you get stuck?

Just switch to Fedora... :P

[2017-05-17 12:48] zanoni-mbdyn commented on #8
I think it does, I am not sure.

@janga1997 I really don't know... Not on the distros I've used or the ones that I'm aware of, anyway. In my experience, it has happened only in OsX.

[2017-05-17 13:16] janga1997 commented on #8
Well then, this method is quite unnecessary for most people.
Should we just let the wiki be as it is right now, and I will maybe write a blog post on this.
There are Stackoverflow pages on this though, only they skip the steps.

[2017-05-17 13:20] zanoni-mbdyn commented on #8
I think that we could write in the wiki the Windows part (I just have to find the time to test it, before) and maybe we could add just a comment with a link to this discussion, for the brave that really want to try.

[2017-05-17 13:29] zanoni-mbdyn commented on #8
And with this, I'm closing this issue.

[2017-05-17 13:29] #8 closed

[2017-05-23 07:40] zanoni-mbdyn commented on #13
Solved with PR https://github.com/zanoni-mbdyn/blendyn/pull/14

[2017-05-23 07:40] #13 closed

[2017-06-13 11:57] janga1997 commented on #11
We could implement this pretty easily by parsing the input file, but that feels going backward, as we could potentially parse everything from the input file. I thought we were supposed to parse node/element info from the log file.
If logging the value of the `output` in the log file for every node (along with the currently logged positional/rotational values) in MBDyn doesn't seem like a good idea

[2017-06-13 12:46] zanoni-mbdyn commented on #11
Actually, there is another possibility: we could check upon loading the results from the `.mov` or the `.nc` file if the output of the current node (that we found in the .log file as usual) is present or not. If not, we skip to the next node and warn the user.

The tricky part is the dealing with the elements connected to the nodes that do not write their output. Obviously, they must be neglected

[2017-06-13 15:08] janga1997 commented on #11
Right. That should work.

[2017-07-04 13:41] #11 closed

[2017-07-11 12:19] louisgag opened #29 "Using import frequency when plotting"
When I plot using Blendyn's embedded interface, I noticed that each Blender object has its own plotting frequency which defaults to 1. For example, if I choose one object, set the plot frequency, and then select another Blender object, the frequency resets itself to 1. Is assume this may not be the desired behavior...

[2017-07-11 14:07] zanoni-mbdyn commented on #29
Fixed. Thanks for noticing.

[2017-07-11 14:07] #29 closed

[2017-07-20 14:39] #17 closed

[2017-07-25 17:16] zanoni-mbdyn opened #31 "plotting of NetCDF variables fails when variable names differ by only lowercase/uppercase"
When plotting `NetCDF` variables, if a request is made to plot variables that differ only for lowercase/uppercase, e.g.
[code]
an exception is raised:
[code]
and the resulting files in the `plots/` directory are
[code]
My guess here is that `Pygal` is the culprit, but I haven't had the time to investigate thoroughly...

[2017-07-25 17:33] janga1997 commented on #31
@zanoni-mbdyn The issue isn't related to how plotting works, but just file-naming. It should be easy to fix.
I'll fix it ASAP.

[2017-11-23 12:53] zanoni-mbdyn commented on #31
Fixed in bugfix for now. Will merge in master once done with testing.

[2017-11-23 12:53] #31 closed

[2018-04-18 22:16] rafmudaf opened #33 "node axes in blender"
Hi,

I'm wondering if there is some way to turn off the node axis indicator in Blender.
![screen shot 2018-04-18 at 4 14 49 pm](https://user-images.githubusercontent.com/13797903/38960992-a94cdcaa-4323-11e8-8184-b3e2d8e24f28.png)

My apologies if this is not a problem but rather due to my lack of knowledge on using Blender.

Thanks
Rafael

[2018-04-19 12:20] zanoni-mbdyn commented on #33
Hi Rafael,
you can import nodes using different objects using the `Import nodes as:` dropdown menu in the `MBDyn nodes` section of the `Scene Properties` panel. You can import them as Arrows, as in this case, just plain axes (without arrows nor X, Y, Z labels), UV Spheres, NURBS Spheres or Cones.

Depending on what you want to do, there are also other options: for example, you might want to just h

[2018-04-27 08:33] zanoni-mbdyn commented on #33
I'm closing this for now.

[2018-04-27 17:39] rafmudaf commented on #33
@zanoni-mbdyn my apologies for not responding and I appreciate your help.

Your suggestion of moving the arrows to another layer is exactly what I am looking for. Its a little tedious to do manually but gets the job done.

Do you know of a method for doing this programmatically or automatically? Like a "select all" for arrows?

[2018-04-28 07:50] zanoni-mbdyn commented on #33
It is very easy to do it via the Python console. For example for nodes:
[code]
Take care of deselecting everything before doing so :)

Cheers
Andrea

[2018-06-08 13:41] NedaTym1 opened #34 "MBDyn standard import in Blendyn"
Hello,

I'm trying to use "MBDyn Standard Import" in order to add all elements to the scene, however I get an error and blendyn stops working as soon as I click on Import Button. In addition, when I'm going to add elements from the scene property panel, for example adding a spherical hinge (or many others), I get the same error and same situation of blendyn!
Btw, I'm using Blender2.76b and mbdyn-1

[2018-06-08 13:55] zanoni-mbdyn commented on #34
Hi Neda. Thanks for the report. Unfortunately, I'm afraid that is a bug in the specific Blender version you're using. At least, to my understanding that is the case, since it doesn't appear in any other version I've tested Blendyn with.

Could you please try with a different version downloaded from the [Blender website](https://www.blender.org/download/releases/)? I've added a brief comment in the

[2018-06-08 15:07] ghost commented on #34
Hi Andrea,

I tried with Blendyn 2.79 and now it works properly!
Thanks for your comments :)

Best,
Neda

[2018-06-08 15:16] zanoni-mbdyn commented on #34
That's great! :)

Thank you for posting your experience here.

[2018-08-14 10:11] goodluckko opened #35 "Blendyn Tutorials import issues"
Hi,when I using Blender2.79 and Mbdyn1.7.3 to learn Wiki on Helicopter blade flapping analysis,I found that something differences:in Scene Property panel the node_10 and 11 is lost;And I can't find the 3-no:qde beam element under the elements list,as well as Data Properties panel.
      I don't know what's the problem ,How can I get the right way?Any idea or help would be great :)

Best wishes,
go

[2018-08-20 08:40] zanoni-mbdyn commented on #35
Hello @goodluckko and thanks for your interest in Blendyn!

Can you please open Blender from a Teminal, try to go through the tutorial and post the messages that Blendyn is outputting there?

Thanks
Regards

[2018-08-20 15:42] #34 closed

[2018-08-20 15:43] #33 closed

[2018-08-21 09:14] goodluckko commented on #35
Hi,thanks to your attention,and sorry for reply you so late.the messages is here:

[test@CentOS ~]$ blender
Read prefs: /home/test/.config/blender/2.79/config/userpref.blend
found bundled python: /usr/local/blender/2.79/python
Blendyn:: could not enable the netCDF module. NetCDF import will be disabled. The reported error was:
No module named 'netCDF4'
Blendyn:: could not enable the plotting modul

[2018-08-21 10:27] zanoni-mbdyn commented on #35
I'm a bit puzzled by your output, since it seems that some nodes and elements are not found, indeed...
Mine works perfectly, with the same version of Blender:
[code]
Are you sure that you haven't modified the input `bladeflap.mbd` file? I know that this is probably a silly question, but... Better be sure :)

[2018-08-23 03:21] goodluckko commented on #35
The tutorial said the five nodes,but only can see three nodes in input files,I downloaded input file just like this:
[code]
regard
@zanoni-mbdyn

[2018-08-27 10:26] zanoni-mbdyn commented on #35
@goodluckko please note that the MBDyn input file the tutorial refers to is a modified version of the one you are using, i.e. [this one](https://github.com/zanoni-mbdyn/blendyn/blob/master/tests/bladeflap/bladeflap.mbd) which is found in the Blendyn files in the `tests/bladeflap` folder.

[2018-08-27 12:42] goodluckko commented on #35
@zanoni-mbdyn Thanks you so much,I will use it correctly!

[2018-09-04 08:35] zanoni-mbdyn commented on #35
No problem! :) Closing the issue

[2018-09-04 08:35] #35 closed

[2018-09-12 17:18] rafmudaf opened #36 "Internal force visualization"
Hi @zanoni-mbdyn

If I were to try to develop the project https://github.com/zanoni-mbdyn/blendyn/projects/3, what is the path for getting the beam internal forces from MBDyn?

Thanks
Rafael

[2018-09-13 16:09] zanoni-mbdyn commented on #36
Hi @rafmudaf and thanks for your interest in Blendyn and in the project.

To get the internal forces from the MBDyn output, look at the NetCDF output for the single element (for example for rod and beams, as a starting point). There is a standard syntax, particularly for joints, that is overridden by the element if needed. For example, the internal force in the local frame of a joint element is by

[2018-09-21 04:36] rafmudaf commented on #36
Thanks for the info @zanoni-mbdyn. I'm still trying to fully understand everything here but I will get in touch if I do think I'm able to take this on.

[2018-12-12 15:05] zanoni-mbdyn commented on #36
Unfortunately, I'm closing this issue for the time being.

[2018-12-12 15:05] #36 closed

[2019-08-01 09:10] zanoni-mbdyn opened #37 "Text output import fails"
As reported by Thomas in the mailing list, text output import fails with the following error.
![BlendynError](https://user-images.githubusercontent.com/7814088/62280680-b2b17800-b44c-11e9-9d53-d50033dd38d7.png)

Happens also with the [rolling cylinder](https://www.sky-engin.jp/en/MBDynExamples/ex10/ex10.html) example of SkyEngin.

[2019-08-27 16:55] zanoni-mbdyn commented on #37
The bug was due to the handling of dummy nodes.
Should be fixed now.

[2019-09-13 07:52] #37 closed

[2020-03-09 13:47] louisgag opened #39 "allowing more liberal labels"
https://github.com/zanoni-mbdyn/blendyn/blob/231cce63742113e6cb19c092a4a2b17ae6ac0976/baselib.py#L493

The ability to load labels from MBDyn is, in my opinion, extremely useful, as it allows to stop worrying about which number goes with which node and in a case where someone is using a preprocessor, to actually not even see these numbers anymore.

That said, I find it somewhat restrictive. For exa

[2020-03-09 18:43] zanoni-mbdyn commented on #39
Louis, I think allowing more freedom in assigning labels is definitely a good idea.

I assume that you mean that you use the same literal value for multiple objects having different integer labels, correct me if I'm wrong. The opposite is actually allowed in Blendyn, currently.

One thing that we could do to ease the risk that you pointed out is to keep track of the integer labels of the objects w

[2020-03-09 20:10] louisgag commented on #39
Andrea, yes, I got my train of thought mixed up. What I mean is that the current implementation skips the other types of items once a match is found for a label.
Your solution sounds good, the user should in that case only be advised to define all labels before any other integer with the same value.

[2020-03-09 22:54] zanoni-mbdyn commented on #39
We could also maintain the current setup, in which we ask users to put all the labels into a single `.lab` file. I don't think it is a great limitation, and this way it is not necessary to declare them all before anything else, just to keep them in a separate file.

[2020-03-10 05:07] louisgag commented on #39
I would still prefer to use "extreme" function I pasted above because MBDyn's Python preprocessor does not actually create such a .lab file, it would not work for any input file which was not specifically made for Blendyn (and this is the beauty of Blendyn), and it would render impractical for the user to define the label right next to the object it refers to in the input file. Perhaps the .lab fi

[2020-03-10 13:44] zanoni-mbdyn commented on #39
That can be a way, yes... But I still think it is a bit too *extreme* :)

Think about the classic rotor model: one of the first `const int` you're going to define is the number of blades... And that already screws the labeling system you propose!

Maybe it would be just easier to add an option to the Python Preprocessor to write all the labels to a separate file?

[2020-03-11 17:37] zanoni-mbdyn opened #40 "Euler angles interpretation"
@louisgag, I'm opening this in relation to #38 : seems to me that the correct interpretation was actually the previous one, in which the order of the three Euler angles should be *reversed* in Blender, with respect to MBDyn conventions.

Simple test: define a new Empy Axes, rotate it of some amount about its X axis, then of some other amount about the new Y axis, then again of something about the

[2020-03-11 21:15] louisgag commented on #40
Andrea,
I tried to make the code in the branch eulerangles fail on the angles and couldn't... not sure how I had come to think that it failed before.
Sorry for the confusion!

[2020-03-11 21:18] louisgag commented on #39
It does work for me because I have no labels below 100, but yes, it is somewhat extreme...

that would be a good compromise indeed ;-)

[2020-03-11 22:47] zanoni-mbdyn commented on #40
No problem, glad to hear that it is all okay :)
Merging.

[2020-03-11 22:47] #40 closed

[2020-03-15 20:17] mr-intj-22 opened #41 "Blender 2.82 - Different UI"
the tutorial shows UI of Blender that is different than the UI of the newest version "2.82".
of course I installed the Blendyn addone and it is there but couldn't access the Blendyn features from the toolbar since it does not show up (which is already mentioned in the main page).

Usually it should show up in the animation toolbar, right? Even clicking 'N' doesn't bring it up!

here are screenshot

[2020-03-16 10:56] louisgag commented on #41
Hi,
At first glance it seems your installation is fine.
In the last screenshot you should have something like this:
![Screenshot from 2020-03-16 11-51-33](https://user-images.githubusercontent.com/12291709/76749547-f0b1a100-677c-11ea-954a-dd5a84dd84ee.png)
Are you sure everything remained the same (the plugin loaded for example) between scrfeenshots 1&2 and screenshot 3?
In that case, maybe a term

[2020-03-16 16:11] zanoni-mbdyn commented on #41
@mr-intj-22 which branch did you download? Can you try do download the code of the `devel` branch, if you have not done so?

Also, to help us understand what it is happening, can you please open Blender from the command line and report what is the output there, at startup and when you deactivate/activate Blendyn?

Cheers,
Andrea

[2020-03-16 20:19] mr-intj-22 commented on #41
@zanoni-mbdyn I downloader from the Master branch. I did as you asked and the terminal is showing three libraries that couldn't find (netCDF4, Pygal, Psutil).
the interesting part is that, all python versions have 2.7, 3.6 and 3.7 (annoying!).

![Screenshot from 2020-03-16 18-18-13](https://user-images.githubusercontent.com/27434236/76795705-2cbf2300-67ca-11ea-8e98-c3d8813e50a0.png)

I have manage

[2020-03-16 22:04] zanoni-mbdyn commented on #41
Which distro are you on? It seems that you are installing Blender using the binary packages: this is not recommmended, as the packages contain a bundled version of Python and installing additional modules to it is tricky.

You should stick with the package that comes with your distro's official repositories.

The RNA property error is more interesting, since I have not seen it before. Anyway, a fi

[2020-03-16 23:03] mr-intj-22 commented on #41
I am using elementary OS 5.1.2 Hera based on Ubuntu 18.04.3 LTS.
the modified devel solved the 'enum' error but raised a new one.
This happens when I try to enable the addone

`Read prefs: /home/mrintj//.config/blender/2.83/config/userpref.blend
BLENDYN::plotlib.py: could not import cairosvg. Plots will only be savedin .svg format, and not displayed in Blender UI.
TypeError: EnumProperty(..., defa

[2020-03-17 08:37] louisgag commented on #41
Concerning the installation of python packages on a bundled python:
you should be able to install what you need by following the instructions on the [wiki page](https://github.com/zanoni-mbdyn/blendyn/wiki/Installing-Blendyn): under the "Update on installing Python packages with a precompiled Blender" header.

Concerning your error message: it says that you should install the cairosvg python packa

[2020-03-17 08:40] zanoni-mbdyn commented on #41
My bad, I missed a couple of enum labels to fix. Now it should be fixed completely.

About the cairosvg error, Louis pointed you to the right direction if you want to install cairosvg, but it is not mandatory and you should be able to safely ignore that error.

[2020-03-17 09:33] mr-intj-22 commented on #41
Hi, problem solved (cheers)!
Thank you @zanoni-mbdyn and @louisgag for the assistance.

one more thing that I think it's related to the simulation itself, but let's be sure.
I have simulated the Pendulum example given in the website, and loaded the results, once I try to load the .log file I get this error,
`Error: Traceback (most recent call last):
  File "/home/mrintj/.config/blender/2.83/script

[2020-03-17 09:41] zanoni-mbdyn commented on #41
I'll give it a try: do you mean the `rigidpendulum` model of the tutorial, or the `pendulum` model that you find in the *Misc* section of the examples?

[2020-03-17 09:46] mr-intj-22 commented on #41
the `pendulum` one. file attached for reference.
[pendulum](https://github.com/zanoni-mbdyn/blendyn/files/4342654/pendulum.txt)

and the .log file
[pendulum.log](https://github.com/zanoni-mbdyn/blendyn/files/4342659/pendulum.log)

[2020-03-17 11:14] zanoni-mbdyn commented on #41
I can confirm that there is a bug with handling nodes whose output was disabled.
Right now, @mr-intj-22, you can comment out the "output, no" line at the end of node GROUND definition, to animate the model results.

I'm closing this issue, as this error is not related to the Blendyn installation, and opening another one.

[2020-03-17 11:14] #41 closed

[2020-03-17 11:17] zanoni-mbdyn opened #42 "Nodes with disabled output"
Nodes whose output is disabled by "output, no" cards are not handled correctly:
  - if using text output, an exception occurs when loading the .log file, or when using the `Standard Import` button;
  - if using NetCDF output, the exception appears when trying to animate.

[2020-03-17 17:57] zanoni-mbdyn commented on #42
Fix proposed in 81a83061977fe64016949e6ce82b2b260da44f92 now upstream in `devel`.

Can anyone test and report?

Cheers,
Andrea

[2020-04-03 08:09] zanoni-mbdyn commented on #42
Seems ok. Closing.

[2020-05-19 14:50] etxealaikoion opened #43 "Error while enabling blendyn extension in Blender"
Hi,
I am trying to install the add-on on blender. Things go smothly until I check the box to enable the add-on. At that moment, blender closes. If I open blender from termina, this is what I have:

[code]

Of course, previous to installing the add-on I installed mbdyn and all its dependencies as explained at the [wiki](https://github.com/zanoni-mbdyn/blendyn/wiki/Installing-MBDyn).

I will appreci

[2020-05-19 15:29] etxealaikoion commented on #43
Hi again,

I tried blender2.83beta instead of the default blender version for ubuntu, and now the problem is solved.

However, I can not find the button "select results file", and I think it can be because the extension cannot find netCDF extensions.

[code]

netCDF is installed, I can see it if I do "pip3 freeze"

Any help will be apreciated.

Regards,

Ion

[2020-05-19 16:39] louisgag commented on #43
Hi Ion,
is it possible that the button could be hidden and should be "pulled" using the tooltip?
One thing I note is that you probably should run the Ubuntu commands given here to **install the missing packages**: https://github.com/zanoni-mbdyn/blendyn/wiki/Installing-Blendyn#ubuntu-and-opensuse

[2020-05-19 16:44] zanoni-mbdyn commented on #43
Hello Ion,

thank you for your feedback. Is the `Select results file` the only button that is missing? In Blender 2.8+, the whole Blendyn menu is by default hidden, you can show it by pressing `N` or by clicking on the little `+` icon on the top right of the 3D view environment.

The button should appear whether or not you have `netCDF4` installed.

As Louis pointed out, if you use a version of Bl

[2020-05-19 19:53] etxealaikoion commented on #43
Thank you very much both for such fast answers,

I found the Blendyn menu (I'm new in Blender so it took a while). It is a "<" symbol that apears, not a "+", Andrea.

Understood also for the python configuration. I'll check the "Upddate on installing Python..." documentation to try to fix it.

Then I'll follow one of the tutorials to get started. I'll give you some feedback then.

Thanks!

[2020-05-20 08:32] #43 closed

[2020-08-13 10:38] zanoni-mbdyn commented on #39
@louisgag do you think we can close this issue, at least for now?

[2020-08-26 09:49] louisgag commented on #39
Yes, but can we make the code I proposed at least as an optional behavior?

[2020-09-04 12:58] zanoni-mbdyn commented on #39
Yeah, I think so. I'll do it ASAP.

[2020-09-07 15:21] zanoni-mbdyn commented on #39
@louisgag, please take a look at the `free_labels` branch. If you can test and report, I'll be glad to document and merge it if everything looks ok ;)

[2020-09-08 19:22] louisgag commented on #39
thanks for the update. I wanted to test but somehow both free_labels and master branches bring up an error with my current Blender (2.82) when I try to load them:

[code]

[2020-10-05 15:31] zanoni-mbdyn commented on #39
Sorry Louis, I missed your last post completely!

That's weird. I don't really have a clue, it seems like something that is specific to the Blender version that you are running.
Can you try with another one? It should be easy to use also the bundled pre-compiled ones now, since there I've added a panel to manage and automatically install the additional Python modules, in the addon configuration wi

[2020-10-06 12:03] louisgag commented on #39
Hi Andrea,

No problem about the delay, I forgot about it as well as I've been recently doing more FreeCAD than Blender. Somehow it seems that Ubuntu 20.04's Blender does not like Blendyn :disappointed:

I tried with 2.83. The panel to install the python packages is quite nice! There is only one issue with it: psutils requires the python development headers, which are not shipped with Blender's bu

[2020-10-06 13:38] zanoni-mbdyn commented on #39
Thank you for pointing out to me about psutil needing the Python headers, I did not know that! I will put a disclaimer on the panel, for the time being, and then evaluate the situation. Installing the Python headers automatically, especially in a cross-distro and cross-platform way, can be tricky I fear...

Good that **free_labels** is okay, I'm merging it! Thanks for testing it

[2021-03-24 17:46] ZhangRunsen opened #44 "Rotation problem in animation"
Hello, everyone.
I am a new user of blendyn. It looks insteresting to render MBDyn model in blender.
However, when I tried to render a rotating beam, I find the beam will rotate 360deg (eg. from -180 to 180) druing the rotation, resulting in a flip in the animation, such as the one in the gif.
Is it about the description of rotation in two softwares?
And do you have any idea to fix it, or any sugg

[2021-03-26 17:21] zanoni-mbdyn commented on #44
Hi Runsen, nice to hear that you are using Blendyn!

The problem you are experiencing is almost surely due to the rotation parametrization that you are using (i presume it is the default, Euler angles). Try using the orientation vector representation, instead, adding
[code]
to your control data. That should fix your problem.

[2021-03-29 15:08] ZhangRunsen commented on #44
Hi,  Andrea,
Thanks for your suggestion.
Sorry for the late reply, I struggled with blender and the GPU drivers in weekends.
For the rotation problem, I tried your suggestion, but  I still see the problem at some key frames
(Btw, I used a released blender2.92/stable from snap now. Although I tried it with different versions, including blender 2.79, 2.83lts, and 2.92, the same problem is observed.)

[2021-03-30 09:01] zanoni-mbdyn commented on #44
Runsen, thank you for your feedback. As for the latest problem, I had a fix already committed in `devel`, but it had not been merged in `master` yet. Now it should be fine.

For the first problem, actually I initially misunderstood it for an issue on nodes' rotations, but now inspecting the output myself I get that it is really about the orientations of the beam3 sections... I will investigate fur

[2021-03-30 10:06] ZhangRunsen commented on #44
Thanks, Andrea.
Best regards,
Runsen.

[2021-04-02 15:34] zanoni-mbdyn commented on #44
Hi Runsen, I played a little bit more with your model and in the end I think that the problem relies on the way in which Blender handles the curve *twist*, which in turn is related to the tilting of the sections of the curve bevel object (in this case, the NACA profile curve).

I think that the tilt should be really set at each time-step in the animation in a way that is consistent with the beam d

[2021-04-02 15:37] zanoni-mbdyn commented on #44
Oh, sorry, I forgot to mention that I also took the opportunity for fixing a couple of bugs here and there. In the video, I use the latest Blendyn version that can be found on the `devel` branch.

[2021-04-02 15:38] #39 closed

[2021-04-02 16:07] ZhangRunsen commented on #44
Thanks for your guidance, Andrea. That's helpful to me.
The video is very clear, and I see the procedure to add a new component to beam3 elements.
A little suggestion is that it would be more helpful to beginners if there is narration for operations in the video.
I will test it soon, and give you feedback.
Happy holidays !
Runsen.

[2021-04-02 16:44] ZhangRunsen commented on #44
Thanks, Andrea.
I tested it following the video, and there is no problem about the rotation.

Happy holidays!
Runsen.

[2021-04-02 19:53] zanoni-mbdyn commented on #44
Thank you for trying it out, Runsen.

And yes you are right, commentary would be useful in the videos.I did this one very quickly and I did not manage to record also the audio. The future ones will be the compete package!

[2021-04-02 19:53] zanoni-mbdyn commented on #44
Oh, and happy holidays to you, too ;)

[2021-05-20 09:59] JulianSchl opened #47 "Offset rotation icon"
Hello everyone,

executing the following code below, I am wondering, why the rotation icon (in red) is not centered to the actual rotation center, but offset by the blue line.
The real rotation center in the animation is between the two nodes.

[code]

![Bildschirmfoto von 2021-05-20 11-55-48_2_2](https://user-images.githubusercontent.com/83708903/118959210-65c0cd80-b962-11eb-89da-fd0cf56fc321.png

[2022-04-11 10:48] TranHuuNhatHuy opened #48 "Type error occured while trying to load .log files to Blendyn interface on Blender"
### Describe problem:
An error popped up when I tried to load `.log` file after importing `.mov` file, as shown below:
[code]

### Conditions to reproduce:
- Ubuntu 20.04.4
- MBDyn 1.7.3
- Current version of Blendyn
- Blender 3.1.2
- Python 3.8.10
- All dependencies of MBDyn, Blender and Blendyn installed

## Steps to reproduce:
1. Take one input file from [MBDyn examples](https://www.mbdyn.org/?D

[2022-04-26 10:45] zanoni-mbdyn commented on #48
Thank you for the feedback. Should be fixed in 38a855b2eeacb27f88ab3e042fd4fe1b5622e959, in branch `bugfix`. Please test and report.

[2022-04-26 10:46] #44 closed

[2022-05-10 12:44] zanoni-mbdyn commented on #47
Ehm, sorry for the slight delay... But should be fixed now, in `bugfix`!

[2022-05-10 12:46] zanoni-mbdyn opened #49 "Import of deformable displacement joints broken"
One of the two boxes of the standard import visualization of deformable displacement joint is placed incorrectly with respect to the node.
Could be a similar problem as in #47

[2022-05-10 13:53] zanoni-mbdyn commented on #49
Also total joint import has a glitch (a duplicate of the main 'Cube' object is created at some point)

[2022-05-13 17:34] logan881 opened #50 "Type error occured while trying to run simulation"
An error popped up when I tried to run simulation after selecting input file.

[code]

Conditions to reproduce:
Ubuntu 20.04.4
MBDyn 1.7.3
Current version of Blendyn
Blender 3.1.2
Python 3.10.4
All dependencies of MBDyn, Blender and Blendyn installed

Steps to reproduce:
1.Save an [example](https://www.sky-engin.jp/en/MBDynTutorial/chap06/chap06.html) as txt file.
2.Select the file as input file.

[2022-06-09 14:18] #48 closed

[2022-06-09 14:23] zanoni-mbdyn commented on #50
Hi @logan881, thank you for the report. I'm looking into the issue.

[2022-06-09 14:33] zanoni-mbdyn commented on #50
Should be fixed now, in `bugfix`. If you can, please test and report.

[2022-06-09 14:36] zanoni-mbdyn commented on #49
Fixed by 4db715bd3fde92f47ddb64f81d68fafe4848bd03, 2b1482eb1f7d371329368a2d4a3eb5d7eef31991.

[2022-06-10 18:30] logan881 commented on #50
Hello,it doesn't show the message now.But after clicking `run simulation`,nothing will change.I can't get `.mov` or `.log` or any new files.I record a video of my steps,and it may help you understand my problem.
[video](https://www.youtube.com/watch?v=BFGQ2BS9ino&ab_channel=%E7%84%A1%E7%B3%96%E7%B6%A0%E8%8C%B6)

[2022-06-23 08:26] zanoni-mbdyn commented on #50
Hi @logan881, thank you for the video. Can you start Blender from a terminal (for example, the Powershell) and send me the output while trying to run the MBDyn simulation?

[2022-06-23 08:26] #49 closed

[2022-10-20 12:29] zanoni-mbdyn commented on #50
Closing for inactivity

[2022-10-20 12:29] #50 closed

[2022-10-22 12:58] zanoni-mbdyn opened #52 "Metered output not handled correctly"
Blendyn seems to not like handling the output of an MBDyn simulation in which `output meter` was set.
Both `Standard Import` and eigenanalysis visualization fail, with `index out of range` errors.